name: DEPLOY TO STAGING

on:
    pull_request:
        types : [closed]
        branches:
            - dev-branch

jobs:
    aws-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: dev-branch
            - uses: actions/setup-node@v1
            - run: npm run bundle
            - run: npm install
            - run: npm run build
            - name: Deploy to Server
              uses: easingthemes/ssh-deploy@v2.1.1
              env:
                    SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
                    ARGS: '-rltgoDzvO --delete'
                    SOURCE: 'dist/'
                    REMOTE_HOST: 'team3.eaglesoftwareteam.com'
                    REMOTE_USER: ubuntu
                    TARGET: '/var/www/html'
            - name: Execute SSH commmands on remote server
              uses: JimCronqvist/action-ssh@master
              env:
                  NAME: 'Root'
              with:
                  hosts: 'ubuntu@team3.eaglesoftwareteam.com'
                  privateKey: ${{ secrets.SERVER_SSH_KEY }}
                  debug: false
                  command: |
                      cp .htaccess /var/www/html/.htaccess